<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof</title>
</head>
<body>
    <main>
        <div>
            <form action="/characters" method="POST">
                <input type="text" name="name" id="">
                <input type="file" name="image">
                <input type="number" name="age">
                <input type="number" name="weight">
                <input type="text" name="history">
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div>
            <form action="/movies" method="POST">
                <input type="file" name="image">
                <input type="text" name="title">
                <input type="date" name="created_date">
                <input type="number" name="qualification">
                <select name="characterIds" id="" style="overflow: hidden; width: 100px;" multiple >
                    <option value="44">prueba</option>
                    <option value="45">Matias</option>
                    <option value="46">prueba2</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>