.container-forms
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.form
{
    max-width: 550px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    background: rgba(35, 56, 102, 0.856);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);
}

.form h2,
.form label
{
    text-shadow: 0 0 6px rgb(255, 255, 255);
    cursor: pointer;
}

.form form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    max-width: 350px;
    padding: 20px;
    background: rgba(144, 178, 213, 0.467);
    margin-top: 30px;
    height: 500px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.138);
}

.form form div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.form form div input
{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background: #f3f9fc;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
}

.form form div input:focus-visible
{
    outline: none;
}

.form form .button-submit
{
    border-radius: 20px;
    width: 100px;
    border: none;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.138);
    background: #d3d6d8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 100;
    margin-top: 10px;
}

.form form .button-submit:hover
{
    border: 1px solid black;
}

.form form .button-submit:active
{
    transform: scale(0.8);
}

.form form .chosen-select
{
    width: 100% !important;
}